
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

 <table class="table table-hover table-bordered">,
     <tr>
         <th>#</th>
         <th>öğrenci Adı</th>
         <th>Bilgisayar Mühendisliği</th>
     </tr>
     <tr>
         <td>1</td>
         <td>Caner Dursun</td>
         <td>Caner Dursun</td>
     </tr>
     <tr>
         <td>2</td>
         <td>Saniye Yurt</td>
         <td>Yazalım Mühendisliği</td>

     </tr>

     </table>

